 <!DOCTYPE html>
<html>
  <head>
    <title>Author</title>
  </head>
  <body>
    <h1>Esta práctica la ha realizado:  <%= nombre %></h1>
    <p>Aquí pueden encontrar una foto suya: </p>
    <img src="<%- foto %>"/>
	  <footer><a href="https://github.com/JaviGa1995"> Javier Gangoso </a> </footer>
  </body>
</html>
