<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
	<nav><a href="<% direccion %>/author"> Autor </a></nav>
	<p> El portal donde podrá crear sus propios juegos! </p>
	
	<footer><a href="https://github.com/JaviGa1995"> Javier Gangoso </a> </footer>
  </body>
</html>
